.controllerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-direction: column;
}

.controllerButton {
    background: #c70710;
    color: #fff;
    border: none;
    padding: 10px 24px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.2s, transform 0.2s;
}

.controllerButton:hover {
    background: #ff0000;
    transform: scale(1.05);
}

.controllerButton:disabled {
    background: #888;
    cursor: not-allowed;
}

.controllerButton:disabled:hover {
    background: #888;
    transform: none;
}

.totalPages {
    font-size: 15px;
    color: #333333c7;
    margin: 10px 0;
}

.pageButton{
    background: #c70710;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    margin: 0 5px;
    transition: background 0.2s, transform 0.2s;
}

.pageButton:hover {
    background: #ff0000;
    transform: scale(1.05);
}

.activePageButton {
    background: #fff;
    color: #c70710;
    border: 2px solid #c70710;
    font-weight: bolder;
    transform: scale(1.12);
    pointer-events: none;
}
