.main-header {
  background-color: #0000002a; 
  width: 100%;
  padding: 20px 0px; 
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 1000;
}

.header-container {
  max-width: 100%; 
  margin: 0 auto; 
  padding: 0 50px; 
  display: flex; 
  justify-content: space-between;
  align-items: center; 
}

/* Стил за логото */
.logo {
  color: #FFFFFF; 
  font-size: 40px; 
  font-weight: bold; 
  text-decoration: none;
  letter-spacing: 1px; 
  font-family: 'EFour Digital', sans-serif; /* Използване на вашия шрифт */
  display: flex; 
  align-items: center;
}

.logo span{
    color: red;
}

/* Стил за навигацията */
.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
  gap: 30px; 
}

.main-nav ul li a {
  color: #FFFFFF; 
  font-size: 30px; 
  font-weight: 600;
  text-decoration: none; 
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  position: relative;
}
.main-nav ul li a::before {
  content: '';
  position: absolute;
  width: 0;
  left: -5px;
  height: 15px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.199);
  transition: width 0.3s ease;
  z-index: -1; 
  border-radius: 7px;
}

.main-nav ul li a:hover::before {
  width: 110%;
}
